/* COLOURS */
.blue-01 {
	background-color: steelblue;
	border-radius: 2px;
	color: #FFF;
	padding: 1px 2px;
}
.grey-01 {
	background-color: var(--grey03);
	border-radius: 2px;
	color: #FFF;
	padding: 1px 2px;
}
.red-01 {
	background-color: darkred;
	border-radius: 2px;
	color: #FFF;
	padding: 1px 2px;
}


/* APP & CHART WRAPPER */
#app {
	margin: 0 0.5rem;
	max-width: 750px;
}

#app header {
	margin-bottom: 2rem;
}

/*#app header .scroll {
	color: var(--grey02);
	margin-top: 7px;
	text-align: center;
}*/
#app header .chart-desc {
	color: var(--grey02);
	font-family: BentonSansCond-RegItalic;
	margin-top: 7px;
}

/* CHARTS */
.wrapper .chart {
	transition: opacity 0.4s ease-in;
}
.wrapper .chart.focus {
	opacity: 1;
}
.wrapper .chart:nth-of-type(1) {
	margin-right: 0.5rem;
}


@media only screen and (min-width: 600px) {
    /* Style adjustments for viewports that meet the condition */
    #app {
    	margin: 0 auto;
    }
}
