/* FONTS */
.benton-reg {
	font-family: BentonSansCond-Regular;
}
.benton-ital {
	font-family: BentonSansCond-RegItalic;
}

/* COLOURS */
.blue-01 {
	background-color: steelblue;
	border-radius: 2px;
	color: #FFF;
	padding: 1px 2px;
}
.grey-01 {
	background-color: var(--grey03);
	border-radius: 2px;
	color: #FFF;
	padding: 1px 2px;
}
.red-01 {
	background-color: darkred;
	border-radius: 2px;
	color: #FFF;
	padding: 1px 2px;
}


/* APP & CHART WRAPPER */
#app {
	margin: 0 0.5rem;
	max-width: 750px;
}

#app header {
	margin-bottom: 2rem;
}

#app header .scroll {
	color: var(--grey02);
	margin-top: 7px;
	text-align: center;
}


/* CHARTS */
.wrapper .chart {
	transition: opacity 0.4s ease-in;
}
.wrapper .chart.focus {
	opacity: 1;
}
.wrapper .chart:nth-of-type(1) {
	margin-right: 0.5rem;
}


/* STEP ENTRIES */
.scrollyteller .wrapper {
	color: white;
	/*height: 500px;*/
	margin: 15px auto 0 auto;
	text-align: center;
	top: 20px;
	width: 100%;
}
.scrollyteller .sticky {
	position: -webkit-sticky;
	position: sticky;
}
.scrollyteller .step-list {
	position: relative;
}
.scrollyteller .step-list.no-events {
	pointer-events: none;
}
.scrollyteller .step {
	margin: 100vh auto;
	max-width: 350px;
	text-align: center;
}
/*.scrollyteller .step:first-of-type {
	margin-top: 20%;
}*/
.scrollyteller .step:last-of-type {
	margin-bottom: 0;
	padding-bottom: 100vh;
}

.scrollyteller .step > p {
	background: rgba(255,255,255,0.9);
	padding: 5px;
}







@media only screen and (min-width: 600px) {
    /* Style adjustments for viewports that meet the condition */
    #app {
    	margin: 0 auto;
    }
}
