
/* TOOLTIP */
#charts .horizon-tooltip {
	position: absolute;
	z-index: 100;
}

/* CHART CONTAINERS */
#charts {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#charts .container {
	border: 1px solid red;
	margin: 1%;
	width: 45%;
}

#charts .label {
	font-family: BentonSansCond-Bold, sans-serif;
	font-weight: 1.1rem;
	padding: .15rem;
	pointer-events: none;
	position: absolute;
	z-index: 99
}